.root {
    -fx-padding: 10px;
    -fx-alignment: center;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #0076a3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.text-field, .combo-box {
    -fx-font-size: 12px;
    -fx-pref-width: 200px;
}
